@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-btn1:#8261EE;
    --color-btn2:#FF58B7;
    --color-bg1:#F2F2FE;
    --color-text:#1E1E1E;
    --font-family:"Raleway",sans-serif;
}
* {
    box-sizing: border-box;
}
    
body{
    font-family: var(--font-family);
}

a{
    text-decoration: none;
}
ul{
    padding:0;
}
li{
    list-style-type: none;
}

.btn{
    background-color:var(--color-btn2);
    border-radius: 45px;
    width:150px;
    padding:5px;
    color:#fff;
  }
/* box-header */
.box-header{
    text-align: center;
    max-width: 50%;
    margin:0 auto;
    margin-bottom: 50px;
}
.box-header .inner-box-header{
    color:#fff;
    font-size: 28px;
    margin-bottom: 30px;
}
.box-header .inner-box-desc {
    color:#fff;
}
/* box-header */